.game {
  height: 100%;
  width: auto;
  aspect-ratio: 4/3;
  border-bottom: none;
}

.left {
  width: 574px;
}

.left .run-details, .left .run-timing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 15px 0;
}

.run-details {
  border: none;
  border-bottom: 2px solid var(--spacer-color);;
}

/* .timer-text {
  font-size: 64px !important;
}

.runners-container {
  width: 75% !important;
}

.couch-container {
  width: 75% !important;
} */