.graphic {
  background-image: url('../assets/wasd-bg-4-3.png');
}

.game {
  height: 100%;
  width: auto;
  aspect-ratio: 4/3;
  border-bottom: none;
}

.left {
  width: 574px;
}

.left > div {
  width: 75%;
}

.left #cameras {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .cam {
  width: 75%;
  border-color: var(--spacer-color);
  border-width: 5px;
  border-style: none solid solid solid;
}

.left .run-details, .left .run-timing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 95%;
  flex-grow: 0;
  padding: 20px 0;

  border-width: 2px;
  border-style: solid none none none;
  /* Cursed 75% width border */
  border-image: linear-gradient(to right, transparent 12%, white 12%, white 88%, transparent 88%) 1;
}

.logos {
  width: 95%;
  padding: 15px;
}