@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat-Bold.ttf');
}

:root {
  --wasd-white: #FFFFFF;
  --wasd-white-muted: #dddddd;
  --wasd-dark: #222222;
  --wasd-dark-muted: #444444;

  --chroma-green: #00FF00;

  --text-color: var(--wasd-white);
  --text-color-invert: var(--wasd-dark);
  --spacer-color: var(--wasd-white-muted);
  --day-element-opacity: 0;
  --night-element-opacity: 1;
}

* {
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  margin: 0;
  padding: 0;
  border: 0;

  /* Flexbox memes to center the body even when zoomed out */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  color: var(--text-color);
  font-family: 'Montserrat';
  text-shadow: -3px 3px 3 #00000080;
}

.graphic {
  overflow: hidden;
  position: relative;
}

.graphic.overlay {
  width: 1920px;
  height: 1010px;
}

.graphic.fullscreen {
  width: 1920px;
  height: 1080px;
}

.toastify {
  position: absolute;
  font-size: 24px;
  background: #22222280;
  border-radius: 7px;
}

/* Common game screen formatting */
.game {
  position: absolute;
  top: 0px; right: 0px;

  width: 1530px;
  height: 860px;

  border: 5px solid var(--spacer-color);
  border-top: none;
  border-right: none;

  background-color: var(--chroma-green);
}

.left {
  position: absolute;
  top: 0px; left: 0px;
  height: 100%;
  width: 390px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#cameras {
  width: 100%;
}

.cam {
  width: 100%;
  aspect-ratio: 16/9;
  border-bottom: 5px solid var(--spacer-color);
  background-color: var(--chroma-green);
  box-sizing: content-box;
}

.bottom {
  letter-spacing: 1px;

  position: absolute;
  bottom: 0px; right: 0px;
  width: 1530px; height: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.run-details {
  flex-grow: 1; /* grow to available size in parent */
  border-left: 2px solid var(--spacer-color);
  border-right: 2px solid var(--spacer-color);
  margin-right: 10px;
  width: calc(100% - 400px);
}

.run-game {
  font-size: 56px;
  padding: 0 30px;
}

.run-details-row {
  font-size: 26px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.run-details-row div {
  margin: 0 10px;
}

.run-timing {
  width: 400px;
}

.estimate {
  font-size: 26px;
}


/* Logo Formatting */
.logos {
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}

.logo-multi {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.stack {
  position: relative;
}

.stack .logo-multi {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo.wasd-light {
  background-image: url('assets/wasd-keys-summer-light.svg');
  opacity: var(--night-element-opacity);
  width: 270px;
}

.logo.wasd-dark {
  background-image: url('assets/wasd-keys-summer-dark.svg');
  opacity: var(--day-element-opacity);
  width: 270px;
}

.logo.special-effect-white {
  background-image: url('assets/specialeffect-white.png');
  opacity: var(--night-element-opacity);
  width: 350px;
}

.logo.special-effect-orange {
  background-image: url('assets/specialeffect-white.png');
  opacity: var(--day-element-opacity);
  width: 350px;
}

.graphic {
  background-image: url('assets/wasd-bg-std.png');
}