.problems-text {
  font-size: 50px;

  position: absolute;
  bottom: 360px;
  left: 50%;
  transform: translate(-50%, 0);
}

.logos {
  height: 100%;
}

.dvd {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url('../assets/wasd-avatar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  animation: moveX 4s linear 0s infinite alternate, moveY 5.8734s linear 0s infinite alternate;
}

@keyframes moveX {
  from { left: 0; } to { left: 1720px; }
}

@keyframes moveY {
  from { top: 0; } to { top: 880px; }
}